// ***********************************
// __PROJECT
// ***********************************

// sprite
for $i in 1..4
  .sprite-santa-{$i}
    sprite($s-santa-claus-2)
    background-color white - (100 / $i + 10)