footer(id="contact")
	.contact-info
		p.contact Mail:
		h4 Jason@wood.com
		
		p.contact Phone:
		h4 +44 212 432 444
		
		p.contact Social media:
		p.social-links
			a(href="#facebook")
				span.fb.fa.fa-facebook 
			a(href="#twitter")
				span.tw.fa.fa-twitter
			a(href="#instagram")
				span.in.fa.fa-instagram
	.divider
	p.design-by DESIGNED by Pawel szymankiewicz
