// ***********************************
// NAVIGATION
// ***********************************
#main-nav {
  display: flex;
  justify-content: center;
  ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    li {
      padding-right: 25px;
      list-style: none;
    }
    li a.active{
      color: #333;
      font-weight: bold;
    }
  }
}
